/* static/styles.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: rgb(122, 122, 122);
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e4e4e4;
  min-height: 100vh;
}


.navbar {
  background-color: #2c3e50 !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #3498db !important;
}


.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

h1, h2, h3, h4, h5, h6 {
  color: #07131f;
  font-weight: 600;
}

h1 {
  border-bottom: 2px solid #3498db;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
      margin: 10px;
      padding: 20px;
      border-radius: 6px;
  }
}